<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Simple MVC</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" href="{{ASSET_ROOT}}/layui/css/layui.css">
    </head>
    <body class="layui-fluid">
        <div style="width:auto;height:20px"></div>
        <ul class="layui-nav">
            <li class="layui-nav-item">
                <a href="{{ASSET_ROOT}}">Report</a>
            </li>
            <li class="layui-nav-item layui-this">
                <a href="{{ASSET_ROOT}}/home/index">Upload file</a>
            </li>
            <li class="layui-nav-item">
                <a href="{{ASSET_ROOT}}/content/index">Dashboard</a>
            </li>
            <li class="layui-nav-item">
                <a onclick="deletedata(this)" style="cursor: pointer;">Delete all data</a>
            </li>
        </ul>
        <form class="layui-form">
        <!-- 注意getenv()在IIS下获取不到正确ip地址，它适用于apache,$_SERVER都可以 -->
            <blockquote class="layui-elem-quote" style="margin-top:30px;border-left: none;    font: 400 16px Arial;">Please provide network accessible (for user {{ USER_NAME }}) addresses for the 2 spreadsheets.</blockquote>
            <blockquote class="layui-elem-quote" style="margin-top:30px;">
                <div class="layui-form-item" style="margin-left:54px">
                    <div id="cat_ids1">         
                    </div>
                </div>
            
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formDemo" id="submit">submit</button>
                    </div>
                </div> 
            </blockquote>
        </form>
    </body>
    <script src="{{ASSET_ROOT}}/js/jquery-3.1.1.min.js"></script>
    <script src="{{ASSET_ROOT}}/layui/layui.js"></script>
    <script type="text/javascript">
        var catData = [];
        let arrparam = [];
        $.post('{{ASSET_ROOT}}/home/get_directory_file',{path:'upload'},function(data){
            if (data.match('<br />')) {
                alert('search file error');
            } else {
                data = JSON.parse(data);
                catData = data.reduce((s,v) => {
                    let _tag = v.match(/Q(\d){1}FY(\d){4}/)[0];
                    let index = s.findIndex(val=>val.name == _tag);
                    if (!~index) {
                        index = s.length;
                        s.push({
                            id:v,
                            name: _tag,
                            children:[]
                        })
                    }
                    if (v.indexOf('BU') != -1) {
                        s[index].children.push({
                            id: v,
                            name: v,
                            children:[]
                        })
                    } else if(v.indexOf('Aggregated') != -1) {
                        arrparam.push(v);
                    }
                    return s;
                },[]);  
                //遍历
                for (var i = 0; i < catData.length; i++) {
                    let catD = catData[i].children;
                    let catDlen = catD.length;
                    for (var j = 0; j < catDlen; j++) {
                        let opps_tag = catD[j].name.match(/Opps_Q(\d){1}FY(\d){4}/);
                        let risks_tag = catD[j].name.match(/Risks_Q(\d){1}FY(\d){4}/);
                        if(opps_tag != null){
                            _tag = opps_tag[0];
                        } else if(risks_tag != null){
                            _tag = risks_tag[0];
                        }
                        let index1 = arrparam.findIndex(val=>val.match(_tag));
                        catData[i].children[j].children.push({
                            id: arrparam[index1],
                            name: arrparam[index1]
                        });
                    }
                }
            }     
        })

        layui.config({
            base : '{{ASSET_ROOT}}/layui'
        }).extend({
            selectN: './layui_extends/selectN',
            selectM: './layui_extends/selectM',
        }).use(['layer','form','jquery','selectN','selectM'],function(){
            $ = layui.jquery;   
            var form = layui.form
            ,selectN = layui.selectN
            ,selectM = layui.selectM;

            //无限级分类-基本配置
            var catIns1 = selectN({
                //元素容器【必填】
                 elem: '#cat_ids1'
                ,search:[false,true]
                //候选数据【必填】
                ,data: catData
                ,width:[120,440,440]
                ,tips:['version','BU','ERM']
            });
            form.on('submit(formDemo)',function(data){
                var index = layer.load(2);
                if(false == catIns1.isSelected){
                    layer.close(index);
                    alert('Please select the end of the file');
                } else {
                    let param = {};
                    param.version = catIns1.names[0];
                    param.ag = catIns1.names[2];
                    param.bu = catIns1.names[1];
                    $.post('{{ASSET_ROOT}}/home/upload',param,function(data){
                        console.log(data);
                        layer.close(index);
                        if(!data.match('<b>Fatal')){
                            alert('submit successd');
                        } else {
                            alert('submit error');
                        }
                    })
                }
                return false;
            })
        });
        function deletedata(obj){
            layer.open({
                title:'delete'
                ,anim:4
                ,content: 'delete all data?'
                ,btn:['yes','no']
                ,btn1:function(index,layero){
                    layer.close(index);
                    var index1 = layer.load(2);
                    $.post('{{ASSET_ROOT}}/home/deletedata',function(data){
                        layer.close(index1);
                        data = JSON.parse(data);
                        if(data == null){
                            layer.msg('delete success');
                        } else {
                            layer.msg('delete error');
                        }
                    })
                }
                ,btn2:function(index,layero){

                }
                ,cancel:function(){

                }
            })            
        }
    </script>
</html>
